node_modules
**/node_modules
.turbo
**/.turbo
.next
**/.next
dist
**/dist
out
**/out
.git
.gitignore
.vscode
.idea
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
coverage
*.md
!README.md
**/*.log
**/.drizzle
apps/web/.vercel
